<template name = "signup">
  <!-- Modal -->
  <div class="modal fade" id="signup" role="dialog" style="z-index:9999999">
   <div class="modal-dialog modal-md singinPopoupContainer">
     <div class="modal-content">

    {{> atForm }}


          <!-- <form class="signup" id="signup" enctype="multipart/form-data">
             <div class="form-group input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                  </span>
                 <input type="text" id="username" name="username" class="form-control" placeholder="User Name" >
             </div>
             <div class="form-group input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-envelope " aria-hidden="true"></i>
                  </span>
                 <input type="text" id="email" name="email" class="form-control" placeholder="E-mail" >
             </div>
             <div class="form-group input-group">
               <span class="input-group-addon">
                 <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
               </span>

                 <input type="password" id="password" name="password" class="form-control" placeholder="Password" >
             </div>
             <div class="form-group">
               <div class="row">
                 <div class="col-xs-12">
                   <button type="submit" name="submit" data-loading-text="<i class='icon-spinner icon-spin icon-large'></i> Sigging Up ..." class="btn btn-danger pull-right">SIGN UP</button>

                 </div>
               </div>

             </div>
          </form> -->

     </div>
   </div>
  </div>
</template>
